*{
	padding: 0;
	margin: 0;
	list-style: none;
}
.ty-top{
	max-width:1200px;
	width: 100%;
	height: 120px;
	margin: 0 auto;
}
.ty-topl{
	width: 65%;
	height: 120px;
	float: left;
}
.ty-topr{
	width: 35%;	
	line-height: 20px;
	height: 120px;
	float: left;
}
.ty-nav{
	width: 100%;
	height: 60px;
	background-color: #E30000;	
}
.ty-nav ul{
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	height: 60px;	
}
.ty-nav ul li{
	width: 10%;
	height: 60px;
	font-size: 14px;
	font-weight: bold;
	line-height: 60px;
	float: left;
	text-align: center;
}
.ty-nav ul a{
	color: #FFFFFF;
	text-decoration: none;
}
.ty-nav ul li:hover{
	background-color: #C80404;	
}

.ty-nav ul li:hover .ty-yc{
	display: block;	
}
.ty-yc{
	width: 120px;
	height: 120px;
	background-color: #000000;
	display: none;
	position: absolute;
	z-index: 999;	
}
.ty-yc p a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
.ty-yc p{
	width: 100%;
	height: 60px;
	margin: 0;
	background-color: #E30000;
}
.ty-yc p:hover{
	background-color: #C80404;
}
.zr-tu{
	width: 100%;
	max-width: 1200px;
	height: 460px;
	margin: 20px auto;
	background-color: #CCCCCC;
}
.zr-tu:hover .zr-yans{
	display: block;
}
.zr-yans{
	width: 100%;
	height: 120px;
    max-width: 1200px;
	margin: 0 auto;
	position: relative;
	top: -360px;
	background-color: rgba(0,0,0,0.3);
	display: none;
	border-radius: 3px;
}
.zr-tu img{
	width: 100%;
	height: 460px;
}
.zr-tu img:hover{
	transition: all 0.2s linear;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
}
.zr-lietu{
	width: 100%;
	max-width: 1200px;
	height: 300px;
	margin: 0 auto;

}
.zr-lietu ul{
	width: 100%;
	height: 300px;
}
.zr-lietu ul li{
	width: 31.2%;
	height:250px;
	float: left;
	background-color:#000000;
}
.zr-lietu ul li:hover .zr-yingc{
	display: none;
}
.zr-lietu ul li img{
	width: 100%;
	height: 250px;
	transition: all 0.3s linear;
	filter:alpha(Opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}
.zr-lietu ul li img:hover{
	transition: all 0.3s linear;
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity: 1;
}
.zr-yingc{
	position: relative;
	top: -170px;
	left: 100px;
}
.zr-yingc h2{
	font-size: 42px;
	font-weight: 800;
	color: #FFFFFF;
}
.zr-zhongtu{
	margin: 0 38px;
}

.ty-huafen{
	width: 100%;
	max-width: 1200px;
	height: 360px;
	margin: 0 auto;
}
.ty-huafen img{
	width: 100%;
	height: 360px;
}
.ty-huafen img:hover{
	transition: all 0.2s linear;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
}
.ty-xuanz{
	width: 100%;
	max-width: 1200px;
	height: 600px;
	margin: 0 auto;
	margin: 40px auto;
}
.ty-xzwen{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #FF6000;
}
.ty-xzwen h3{
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}
.ty-xzwen h3:hover{
	color: #E30000;
	background-color: #9EC51A;
}

.brand{
	margin: 0 42px;
}
.brand a{
	display: block;
	float: left;
	margin: 20px;
	width: 330px;
	height: 200px;
	text-align: center;
	position: relative;
	text-decoration:none !important;
}
.brand img{
	width: 330px;
	height: 200px;
}
.brand .info{
	display: none;
	background-color: #f0f0f0;
	color: #369242;
}
.vertical .info{
	width: 330;
	height: 200px;
	margin: 0 auto;
}
.horizontal img{
	position: absolute;
	top: 0;
	left: 0;
}
.horizontal .info{
	width: 330px;
	height: 200;
	top: 120px;
	position: absolute;
	left: 0;
}
.ty-fanz{
	width: 100%;
	max-width: 1200px;
	height: 1200px;
	margin: 0;
}

